<button type="button" class="display-none" data-bs-toggle="modal" data-bs-target="#cookieModal" id="cookieModalButton">
</button>

<div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalMessage" aria-hidden="true">
  <button type="button" class="display-none" data-bs-dismiss="modal" aria-label="Close" id="closeModalBtn"></button>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center gm">
      <div class="modal-header">
        <h1 class="fs-5 m-auto fs-4 fw-bold" id="exampleModalLabel">
          <span class="cookie1">🍪</span>
          <span class="cookie2">🍪</span>
          <span class="cookie3">🍪</span>
          Cookies
        </h1>
      </div>
    <hr class="m-auto" style="border: 1px solid rgba(111, 66, 193, 1.00); width: 50%; margin-top: -1rem;">
      <div class="modal-body">
        I love cookies and use them to enhance your experience. If you don't agree with that please leave this website.
      <br><br>
      <strong>Thank you for your visit!</strong>
      </div>
      <div class="d-grid p-4">
        <button type="button" class="btn btn-pink" id="acceptCookies">That's OK!</button>
      </div>
    </div>
  </div>
</div>
