<!-- Button trigger modal -->
<button type="button" class="display-none" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalButton">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <button type="button" class="display-none" data-bs-dismiss="modal" aria-label="Close" id="closeModalBtn"></button>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-pink m-auto fs-4 fw-bold" id="exampleModalLabel">Cookies</h1>
      </div>
      <div class="modal-body">
        We love cookies and we use them to enhance your experience. If you dont agree with that please leave this website.<br><br><strong>Thank you for your visit!</strong>
      </div>
      <div class="d-grid p-4">
        <button type="button" class="btn btn-pink" id="acceptCookies">OK</button>
      </div>
    </div>
  </div>
</div>
