<link rel="stylesheet" href="../assets/css/pyscript.css">{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<script type="text/javascript">
  // Wait for document to load
  document.addEventListener("DOMContentLoaded", function(event) {
    var dt = localStorage.getItem('data-theme');
    if (dt) {
      document.documentElement.setAttribute("data-theme", dt);
    }
    else {
      document.documentElement.setAttribute("data-theme", "dark");
    }
    // Get our button switcher
    var themeSwitcherDark = document.getElementById("theme-switcher-icon-dark");
    var themeSwitcherLight = document.getElementById("theme-switcher-icon-light");
    // When our button gets clicked
    themeSwitcherLight.onclick = function() {
      themeSwitcherLight.classList.toggle("display-none")
      themeSwitcherDark.classList.toggle("display-none")
      // Get the current selected theme, on the first run
      // it should be `light`
      var currentTheme = document.documentElement.getAttribute("data-theme");
      // Switch between `dark` and `light`
      var switchToTheme = currentTheme === "dark" ? "light" : "dark"
      // Save to localStorage
      localStorage.setItem("data-theme", switchToTheme);
      // Set our currenet theme to the new one
      document.documentElement.setAttribute("data-theme", switchToTheme);
    }

    themeSwitcherDark.onclick = function() {
      themeSwitcherDark.classList.toggle("display-none")
      themeSwitcherLight.classList.toggle("display-none")
      // Get the current selected theme, on the first run
      // it should be `light`
      var currentTheme = document.documentElement.getAttribute("data-theme");
      // Switch between `dark` and `light`
      var switchToTheme = currentTheme === "dark" ? "light" : "dark"
      // Save to localStorage
      localStorage.setItem("data-theme", switchToTheme);
      // Set our currenet theme to the new one
      document.documentElement.setAttribute("data-theme", switchToTheme);
    }
  });
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

