<button type="button" class="btn btn-pink feedback-btn" data-bs-toggle="modal" data-bs-target="#feedbackModal">
  Give Feedback
</button>

<div class="modal animate__animated animate__fadeInRight" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalInput" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Feedback</h1>
        <a type="button" class="btn btn-link btn-x" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e83e8c" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
        </a>
      </div>
      <div class="modal-body">
        <form class="form" id="feedback-form" netlify>
          <input type="hidden" name="feedback_number">
          <div class="mb-3">
            <input type="text" class="form-control border-none" id="exampleFormControlInput1" placeholder="Your name" name="user_name" autofocus required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control border-none" id="exampleFormControlInput1" placeholder="name@example.com" name="user_email">
          </div>
          <div class="mb-3">
            <textarea class="form-control border-none" id="exampleFormControlTextarea1" rows="10" placeholder="Your Feedback" name="message"></textarea>
          </div>
          <div class="d-grid">
            <input type="submit" class="btn btn-pink" value="Send Feedback">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
