

<form onSubmit="return validateForm();" name="loginform" method="post" action="/dashboard/">
  <div class="mb-3 text-center">
    <h5 for="exampleInputPassword1" class="form-label">Auth-Code</h5>
      <div class="d-flex justify-content-around">
      <input type="password" maxlength="1" class="form-control border-none pin-field me-1" name="authCodeNr1">
      <input type="password" maxlength="1" class="form-control border-none pin-field me-1" name="authCodeNr2">
      <input type="password" maxlength="1" class="form-control border-none pin-field me-1" name="authCodeNr3">
      <input type="password" maxlength="1" class="form-control border-none pin-field me-1" name="authCodeNr4">
      <input type="password" maxlength="1" class="form-control border-none pin-field me-1" name="authCodeNr5">
      <input type="password" maxlength="1" class="form-control border-none pin-field" name="authCodeNr6">
    </div>
  </div>
  <div class="d-grid p-2 mt-4">
    <button type="submit" class="btn btn-green">Submit</button>
  </div>
</form>

<script>

  function validateForm(e) {
    e.preventDefault();
    let authCodeNr1 = document.loginform.authCodeNr1.value;
    let authCodeNr2 = document.loginform.authCodeNr2.value;
    let authCodeNr3 = document.loginform.authCodeNr3.value;
    let authCodeNr4 = document.loginform.authCodeNr4.value;
    let authCodeNr5 = document.loginform.authCodeNr5.value;
    let authCodeNr6 = document.loginform.authCodeNr6.value;
    let number1 = "1";
    let number2 = "2";
    let number3 = "3";
    let number4 = "4";
    let number5 = "5";
    let number6 = "6";
    if ((authCodeNr1 == number1) && (authCodeNr2 == number2) && (authCodeNr3 == number3) && (authCodeNr4 == number4) && (authCodeNr5 == number5) && (authCodeNr6 == number6)) {
     return true;
    }
    else {
      alert("Auth-Code not valid, please check your Auth-Code and try again.");
      return false;
    }
  }

</script>
