<div class="offcanvas offcanvas-start gm" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header d-flex flex-column">
    <div class="d-flex flex-row justify-content-end text-end">
    <a type="button" class="btn btn-link btn-x" data-bs-dismiss="offcanvas" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(111, 66, 193, 1.00)" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </a>
    </div>
    <h6 class="offcanvas-title" id="offcanvasExampleLabel">
      <div class="d-flex justify-content-center my-5">
        <div class="fw-2 br-6 title-subname-oc text-white-50 animate__animated animate__fadeInDownBig">elyps.</div>
        <div class="br-6 title-surname-oc animate__animated animate__fadeInLeftBig">bastian</div>
        <div class="fw-2 br-6 title-name-oc animate__animated animate__fadeInRightBig">fischer</div>
      </div>
    </h6>
  </div>
  <div class="offcanvas-body">
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ps-2 active" aria-current="page" href="/">{% t 'menu.home' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" href="/about/">{% t 'menu.about' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" href="/articles/">{% t 'menu.articles' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" href="/projects/">{% t 'menu.projects' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" href="/contact/">{% t 'menu.contact' %}</a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav me-auto mt-4 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link ps-2" href="/tags/">Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-2" href="/categories/">{% t 'menu.categories' %}</a>
        </li>
      </ul>


    </div>

  </div>
</div>
