.btn-pink {
  background: $pink;
  color: $light;
  &:hover {
    background: $pink-600;
    color: $gray-400;
  }
}

.btn-outline-pink {
  border-color: $pink;
  color: $pink;
  &:hover {
    background: $pink;
    color: $light;
  }
}

.btn-x {
  right: 9px;
  position: absolute;
  top: 5px;
}
