.btn-pink {
  background: $purple;
  color: $light;
  &:hover {
    background: $purple-600;
    color: $gray-400;
  }
}

.btn-outline-pink {
  border-color: $purple;
  color: $purple;
  &:hover {
    background: $purple;
    color: $light;
  }
}

.btn-x {
  right: 9px;
  position: absolute;
  top: 5px;
}

.dropdown-toggle {
  color: rgba(111, 66, 193, 1.00) !important;
}

.btn-green {
  background: rgba(32, 201, 151, 1.00);
  color: $light;
  &:hover {
    background: rgba(24, 151, 114, 1.00);
    color: $gray-400;
  }
}
