.card {
  background: var(--background-color-ui);
  color: var(--text-color);
  transition: 200ms ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

.author-card {
  background: var(--background-color-ui);
}
