.contact-icons {

  @media (max-width: 500px) {
    margin-left: -5rem !important;
  }
}

.contact-container {
  @media (max-width: 500px) {
    margin-top: 5rem !important;
  }
}

.contact-footer {

  @media (max-width: 500px) {
    margin-top: 12rem;
  }
}
