.cookie1 {
  position: relative;
  top: 0.2rem;
  margin-right: -1rem !important;
  opacity: 1 !important;
}

.cookie2 {
  position: relative;
  margin-right: -1rem !important;
  top: -0.2rem !important;
  opacity: .9 !important;
}

.cookie3 {
  position: relative;
  opacity: .8 !important;
  top: 0.2rem !important;
}
