.footer-bottom-center {
  left: 50%;
  transform: translateX(-50%);
  /*background: var(--background-color-ui);*/
  border-radius: 12px;
  position: relative;
  width: 100%;
  margin-top: 1rem;

  @media (max-width: 500px) {
    bottom: 0.5rem;
  }
}

.footer {
  position: relative;
}

.footer-home {
  left: 0;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-contact {
  margin-top: 7rem;
}

.footer-articles {
  margin-top: 3rem;
}
