.form-control {
  background: var(--forms-bg-color) !important;
  color: var(--forms-text-color) !important;
  &:focus {
    box-shadow: 0 0 2px 2px $purple;
  }
}

textarea {
  resize: none;
}

.pin-field, #authCodeNr1, #authCodeNr2, #authCodeNr3, #authCodeNr4, #authCodeNr5, #authCodeNr6 {
  width: 3rem !important;
  height: 3rem !important;
  line-height: 3rem !important;
  font-size: 1.5rem !important;
  /*padding-left: 1.2rem !important;*/
  text-align: center !important;
  /*color: rgba(32, 201, 151, 1.00) !important;*/
}
