.gm {
  backdrop-filter: blur(48px) saturate(250%) !important;
  -webkit-backdrop-filter: blur(48px) saturate(250%) !important;
  background: var(--background-color-ui-h) !important;
  /*border: 1px solid rgba(200, 200, 200, 0.125) !important;*/
}
