a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  color: $purple-300;
}

a.nav-link {
  padding-left: 1rem;
  border-radius: 6px;
  color: rgba(173, 181, 189, 1.00);
}

a.nav-link:hover {
  background: $purple !important;
  border-radius: 6px;
  color: #f1f1f1 !important;
}
