.modal-content {
  /*background: var(--background-color-ui);*/
  color: var(--text-color);
}

.modal-header, .modal-footer {
  border: none;
}

.feedback-btn {
  position: fixed;
  right: -2.5rem;
  bottom: 8rem;
  transform: rotate(90deg);
  z-index: 1000;
}

#feedbackModal .modal-dialog {
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 350px;
  z-index: 9000 !important;

  @media (max-width: 500px) {
    right: -0.7rem !important;
  }
}

.modal-backdrop, .modal-backdrop.show {
  opacity: 0 !important;
}
