.nav-vert {
  top: 0;
  left: 0;
  width: 75px;
  height: 100vh;
  position: fixed;
  z-index: 9000;
  background: var(--background-color-ui) !important;
  box-shadow: 0 1px 3px rgba(232, 62, 140, 1.00);
}

.dropdown-nav {
  position: absolute;
  bottom: 1rem;
}

.navbar-nav li a {
  color: var(--text-color);
}
