.font-big {
  font-size: 8rem;
}

.ls-1 {
  letter-spacing: 1.3rem;
}

.ls-08 {
  letter-spacing: 0.8rem;
}

.fw-2 {
  font-weight: 200;
}

.br-6 {
  border-radius: 6px;
}

.br-12 {
  border-radius: 12px;
}

.br-100 {
  border-radius: 100%;
}

.fs-7 {
  font-size: 0.7rem;
}

.text-light-dark {
  color: rgba(73, 80, 87, 1.00) !important;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-02 {
  opacity: 0.2;
}

.monospace {
  font-family: monospace, sans-serif;
}

.border-none {
  border: none !important;
}

.wrapper {
  min-height: 100% !important;
  position: relative;
}
