---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bs5ds/bootstrap";

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: var(--background-color-body);
  color: var(--text-color);
  font-family: 'montserrat', sans-serif !important;
  font-size: 100% !important;
  font-weight: normal !important;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}
