:root {
  --background-color-body: rgba(202, 206, 210, 1.00);
  --background-color-ui-h: rgba(255, 255, 255, 0.25);
  --background-color-ui: rgba(255, 255, 255, 1.00);
  --text-color: #000;
  --text-color-darker: rgba(108, 117, 125, 1.00);
  --forms-bg-color: rgba(206, 212, 218, 1.00);
  --forms-text-color: rgba(52, 58, 64, 1.00);
}
