:root {
  --background-color-body: rgba(222, 226, 230, 1.00);
  --background-color-ui: rgba(233, 236, 239, 1.00);
  --text-color: #000;
  --text-color-darker: rgba(108, 117, 125, 1.00);
  --forms-bg-color: rgba(108, 117, 125, 1.00);
  --forms-text-color: rgba(52, 58, 64, 1.00);
}
