<!DOCTYPE html>
<html>

  {%- include head.html -%}

  <body onload="setURL();cookieMsgShow();" style="transition: 200ms ease-in-out;">

  <div class="fade-out-fast d-flex justify-content-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);transition: 200ms ease-in-out;">
    <div class="spinner-grow text-pink" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <div class="fade-in-fast">
    {%- include header.html -%}

    <main class="container mt-4" aria-label="Content">
      <div class="wrapper">
          {{ content }}
      </div>
    </main>
  </div>
    {%- include cookieMsg.html -%}

    {%- include scripts.html -%}

  </body>

</html>

<script>

    document.addEventListener("DOMContentLoaded", function(event) {
      const lang = localStorage.getItem('language');
      document.documentElement.setAttribute('lang', lang);
    })

</script>



