---
layout: default
---

{%- include githubBanner.html -%}
{%- include feedbackModal.html -%}

<br><br>
<div class="d-flex justify-content-center my-5">
  <div class="br-12 mt-3 title-surname animate__animated animate__fadeInLeftBig">bastian</div>
  <div class="fw-2 br-12 mt-3 title-name animate__animated animate__fadeInRightBig">fischer</div>
</div>
<br><br>
<div class="typewriter-effect d-flex justify-content-center mx-auto mt-5">
  <div id="app" class="text"></div>
</div>

<div class="footer">
  {%- include footer.html -%}
</div>
