---
layout: default
---

{%- include githubBanner.html -%}
{%- include feedbackModal.html -%}

<br><br>

<div class="d-flex justify-content-center my-5">
  <div class="br-12 title-subname animate__animated animate__fadeInDownBig">elyps.</div>
  <div class="br-12 title-surname animate__animated animate__fadeInLeftBig">bastian</div>
  <div class="br-12 title-name animate__animated animate__fadeInRightBig">fischer</div>
</div>

<br><br>

<div class="typewriter-effect d-flex justify-content-center mx-auto mt-5">
  <div id="app" class="text"></div>
</div>

<div class="footer footer-home">
  {%- include footer.html -%}
</div>
