---
layout: default
---

<div class="col-12 p-2 project-container">
  <div class="mb-5">
    {%- if page.title -%}
    <h2 class="page-heading">{{ page.title }}</h2>
    <h4>Have a look at some of my projects</h4>
    {% else %}
    <h2 class="page-heading">Projects</h2>
    <h4>Have a look at some of my projects</h4>
    {%- endif -%}
  </div>

  {{ content }}

  {% if site.paginate %}
    {% assign projects = paginator.projects %}
  {% else %}
    {% assign projects = site.projects %}
  {% endif %}

  {%- if projects.size > 0 -%}
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for project in projects -%}
    <a class="post-link" href="{{ project.url | relative_url }}">
      <div class="col">
        <div class="card h-100">
          <div class="bg-pink" style="height: 2px"></div>
          <!-- <img src="{{ 'assets/img/pawel-czerwinski-GFqo8rVmH30-unsplash-128kb.png' | relative_url }}" class="card-img-top" alt="post-image"> -->
          <div class="card-body">
            <h5 class="card-title">{{ project.title | escape }}</h5>
            <p class="fs-7 fw-2">{{ project.date | date: date_format }}</p>
            <p class="card-text">
              {{ project.excerpt }}
            </p>
          </div>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
      <li><div class="pager-edge">•</div></li>
      {%- endif %}
      <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
      <li><div class="pager-edge">•</div></li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %}
  {% else %}
  <p>No Projects found.</p>
  {%- endif -%}

</div>

<div class="footer">
  {%- include footer.html -%}
</div>
