---
layout: default
---
<div class="row">
<h3>Public Key</h3>

<div class="col-md-5 fs-7">
<pre><code class="p-5 ms-2">-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GopenPGP 2.4.7
Comment: https://gopenpgp.org

xsFNBGIg+ZoBEADdMk6LC5iT5lr668wWFTS0PVWPTtLYCeQ7C4w25yc1JbVC8kqk
EnNP/RetDqBWCD/Llppds0Oh+UHkitbv/V0ktjcyQxO1ZgB5MbVmrxeAc3cD+A3S
gRKWTesZFxPjGDXeaCHCuchpxrxKc7NQukAELmRy1CeyBaGJPzFw4ypBacSdgYsy
4lBmT5Fr2FluwCOp/LpwBGMCfNZAcgqpn4NkrHCmBWSUw+FD9hlk9urNXOKK/d9Q
bDrx/Dw2mDp3b4OR+FBnvRyJQH+IS/UFvQkg1QDTJrnnB6lO0t65vINvt1q6tag8
pJeLV48wjRHq1w/xiVfhlHqcC6/T1v1UA6yJN0YVrcCe6tFsW8I1Oaoh1hBtD8Iq
PDUdyejSOI3GvRPHPamKNldYjKr3BZ8aV9sr/xrcrRPvULcqVLbs6Lmq4F0PAX0k
VH6qs2yuwEarSZfZIyS9BxX5W9wvnn6rZPpfX0hUX/3HuowoaccdbrXeV1P6VVJ/
1dku8hi0XuG0VuBPhdE/P38X8agwvB4YdsMicjSTw1BaRVO3SDmLLZNzO0pfhqna
yS8BgpahPnDRE2grrnV6ul1orU/5oFu8/J3Ugn4UHCD270ykOjVg0bTanb3+2/Ga
uqIpkrbAROQl66MIEmCHaZyPUrbnbmjy0oZeGzEaQZeQhQHiv3L2mzlOTQARAQAB
zTlrb250YWt0QGJhc3RpYW4tZmlzY2hlci5kZXYgPGtvbnRha3RAYmFzdGlhbi1m
aXNjaGVyLmRldj7CwY0EEAEIACAFAmIg+ZoGCwkHCAMCBBUICgIEFgIBAAIZAQIb
AwIeAQAhCRC3HEFGOPFJehYhBIJTsfKkbBVNCIYO7bccQUY48Ul6Qx0QAJ//UPtp
K64bxYV66Ub6OOLhk6D8le9CNRj9L9wJHji0NjhioHA15DmsgJAesqfOPupNC6/1
LhjL/p9JpsdwotJrzJnhKAWUA95Q8ku4mkLVdwal0VpEi67KYV/QZe/Wq16i2gmW
sUHtaRu+KfeEB1PRLcTfHy3IhS2dwPU9imNvdezmLhu/rZEW/kcDriCPEd+SZczp
854jJxtu7DSbcWcKx21Ly1HxcF+9fORDMp1C2Kmk0favJs9ELmMzw39hFPKYFawM
w0roNvKXzAbPzc6mMUf5yOu3htcxO/pcxIIUm3Z/r0cjhRxrSiv4EpkcSaGAgZbo
QyRnTH5Y7Jhg0Nx1t2zt2TVJsH5QHvtFIvPyM+S/U4bOa0xnkEZhccykfjA62oSB
NMPanhW/518BA4YW+bvgxBUqvnKvUrmoU8olceMnmD2TgzFvZsyNadqI4FUmK4k9
Barxid85VvEIFHN/9bl5Sb+iPpMEpcQsHG4B79nCm61muKfZFtDlCsiyBbFjRBNf
qRmWqD7CHB1mnoZGcqVL1GKJ0k8UVuEAzyz+uipv3IVLq5uRL1wFsaeJPfyf2TWp
oIckd+BtUJCqGN4XKK3a6FkC9tLk+1/n2rJFANwCGBXDqAIfoi6hhV5gz5G+gO6P
ko6lbs4JQ9w75Qio2QGB2aPK469OmmYLc+KdzsFNBGIg+ZoBEADc24ycyJp3m3aV
3A0qni+yaAB0hgziI+URv68wuQxjr1C1FpPafHBrjstLorCqTn4zaMCtB51f2wzZ
76nU8OvFaY9mXMvM07R/36AguJIgAfsHbfDWXoVCVXw1/8/ZSSy7WsL7+hzyD3wt
z56fRTlebqQBjuqklfARpP7nQEFwVA40HCCGYp9VR3QKgBtPtF2aD9CU1ljCl/xM
ZVBPynT41/dJuzR1KCM0zbh/12zTtO0R+Islr3Qao9dQLoYdqLK6IMW4rYJLk7pm
uE7LQemzhc+eD+/5uxln9BBq3no0VersqwlQrK5Dxck+6TjhicbrkF2WVkQTbrKa
KCjT9CfsIGq7MkX6VvKd6cdiADUHacjv/xloAMhSFYpg+oO66D8wFidV49sx/f5W
7yvKkV469ShB2FYG8naYUm/KVi5XdgfS4ou9D/Ypty4l0djPzRlZEneBhiNUv6ND
moLxqbMiOLkYrVO9zdvCiNTmAsdEAJfha2VUp1lVxvLdMeidfTnEnltfvQX3tRUy
SZJOmcR+F7uJnu6frerJuoV646q2qElvm/4og1x8ywtUiY/ZKcOhJjOVl8LXPbL9
ww+tH3WfJk63NKFURecgoWnevSY/xfHzgN+LPitXNADcveVYbnh/qyecRuyBpmRY
X7n0q3PmbaQo1nuknKIGQg4pCuEBUwARAQABwsF2BBgBCAAJBQJiIPmaAhsMACEJ
ELccQUY48Ul6FiEEglOx8qRsFU0Ihg7ttxxBRjjxSXqB6Q//VGodWOPKsH4GvWyv
PcHpHn4hYWJuExlD3nB0BECNVXRP4J9cFtp6zYmvOMvY3dEs4C2ribafeJl4Q0BA
Ts5lL8OEN2idDgGFjjstCn0+iAPziks9sCv3NQfD1LUKA4K+9w6paCYgwqIQiyER
vG4B47+9TWM7dWJk1eYmiaWM+gpMLq7pDpW5BRA7GIAN17+KAiR/Cq/bxqL2IBJB
y+k/hlUNtK6VL0BnBLmE/oRJZxQdIPpHIElFMUS38w7tswOGDLqo4RXS3faqCO/x
1RGXN7uBN4Yh3EvNSYQnuXG+h3C6wki1xMKqWUK2oCTE2LNN1g/omiAjvpFcGWEn
PLuWqXG4RYzHbOThh23yfpMsWdfkHNOJQgV5jJxUAaTpq4G+KmkBvXnOw8L8twur
AMKGMMk53yowES5kNhU86EushVQzwWqLpvLEyL3No0anp0fX4fWzIe9NjtmDbn0v
qzm2W6rZPJTHlD9GipDZdMzUH8oG5n8y4iNgBMQnN4bwJxWIRPbmTWa6tnO215Er
iH4lB9xxUixMSvoE8Dcd/EMLwsY3e/eGmDPrZ2WQNc7iQvWjC6/l0POcDQiXGlQa
6kYM24Q159d9i6VS1kDgoHCougYANCCkJb5jPeBGwUFVVxAlFQPMOA9dLe4qUTV4
vTkkWoj1eJjmJPV+wLIO9o2+izg=
=xmsD
-----END PGP PUBLIC KEY BLOCK-----
</code></pre>
</div>
<div class="col-md-7">
  <a href="{{ 'publickey-kontakt@bastian-fischer.dev-8253b1f2.asc' | relative_url}}" download>Download Public Key</a>
</div>
</div>
