---
layout: default
---
<div class="tags-container col-12">
  <h2 class="post-title p-name mb-2" itemprop="name headline">{% t 'tags.title' %}</h2>
  <h4 class="mb-4">{% t 'tags.sub_title' %}</h4>

<div class="accordion accordion-flush" id="accordionFlushExample">
  {%- if site.tags.size > 0 -%}
  {% for tag in site.tags %}
  <div class="accordion-item mb-2">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ tag[0] }}" aria-expanded="false" aria-controls="flush-collapseOne">
        {{ tag[0] }}
      </button>
    </h2>
    {% for post in tag[1] %}
    <div id="{{ tag[0] }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <a href="{{ post.url }}" class="accordion-post-title">{{ post.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% else %}
  <p>{% t 'tags.not_found' %}</p>
  {% endif %}
</div>
</div>

<div class="footer">
  {%- include footer.html -%}
</div>
